# Build
target/
build/
out/

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Logs
*.log
logs/

# Env / Secrets
.env
application.yml
application.properties
application-local.yml
application-dev.yml

# OS
.DS_Store
Thumbs.db

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/